body {
    background-color: #fff;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100Vh;
}

* {
    box-sizing: border-box;
}

#check {
    display: none;
}

.open-menu,
.close-menu {
    color: #a02279;
    font-size: 1.7rem;
    cursor: pointer;
    display: none;
}

.menu a {
    padding-right: 20px;
}
.col1{
    margin-left: 2rem;
}


.close-menu {
    color: #fff;
}

form>label {
    display: flex;
    display: inline-flex;
    border: 1px solid #a02279;
    color: #fff;
    background-color: #a02279;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    flex-basis: 150px;
    height: 32px;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    font: 12px;
    line-height: 16px;
    box-shadow: rgba(59, 246, 0.5);


}



input {
    height: 28px;
    width: 200px;
    border: 2px solid lightgray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 64px;

}

.flex1 {
    display: flex;
    flex-direction: row;
}

/*
ul {

    list-style-type: none;
    display: inline-flex; 
}*/

.colo {
    color: #a02279;
    display: inline;
}

.colo1 {

    display: block;
}

/*
li a,
span a {
    text-decoration: none;
    color: #000;
    font-family: RedRose;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}


.col1 {
    margin-left: 12%;
}

li,
span a {
    padding: 20px;
}

.col2 {
    flex-shrink: 0;
    flex-grow: 0;
    margin-left: 150px;
}


.row1 {
    margin-left: 20px;
    margin-top: 3%;
}

span>a {
    display: inline-flex;
    color: #fff;
    border: 1px solid #a02279;
    background-color: #a02279;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 10%;
}
*/

.nav-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-left: 4.375rem;
    padding-right: 0rem;
    margin-right: 4rem;
}


li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-family: RedRose;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

li a:hover {
    color: rgb(160, 34, 121);
    text-decoration: underline;
}

.nav-bar .menu {
    display: flex;
    gap: 2.5rem;
    width: 95%;
    
   
    
}

.col2 a {
    border: 1px solid #a02279;
    background-color: #a02279;
    height: 30px;
    border-radius: 0.625rem;
    color: #fff;
    padding: 0.7rem;
    margin-left: 1rem;
    
    
}


.flex2 {
    display: flex;
    flex-direction: row;

}



.col3a {
    flex-basis: 25%;

}

.grid1 {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

.grid1 div {
    text-align: end;
    margin-top: 115px;
}

#col1 {
    grid-row: 1;
    grid-column: 1;

}

#col2 {
    grid-row: 2;
    grid-column: 1;
    margin-top: 0;
}

.grid2 {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin-left: 10px;
}

.grid2 div {
    text-align: start;
    margin-top: 0;
}

.row2 {
    font-size: 56px;
    font-family: Redrose;
    line-height: 70px;
    margin-top: 91px;
    margin-left: 64px;
    margin-bottom: 10px;
}

.bss {
    font-size: 20px;
    font-family: Redrose;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 64px;
    margin-top: 0;
}

.bss1 {
    font-size: 20px;
    font-family: Redrose;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 0px;
    margin-top: 0;
}

.nav2 {
    display: inline-flex;
    flex-basis: 33%;
    flex-shrink: 0;
    flex-grow: 1;
    background-color: #a02279;
    color: white;
    padding: 9px;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.img {
    display: flex;
    align-items: flex-end;
    flex-basis: 28%;
}

#head {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    font-family: Redrose;
    color: #000;
    margin: 32px 64px 32px 64px;
    text-align: center;
}

.grid3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    gap: 25px;
    /* width: 25%; */
    /* margin: 32px; */
}

.grid3>div {
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 5px;
    width: 20%;
    padding-bottom: 20px;
    text-align: center;
}

.grid3>div>img {
    width: 100%;
}

.a {
    display: block;
    margin-left: 0px;
    text-align: start;
    margin-top: 16px;
}

.b {
    float: right;

}

.c {
    display: block;
    margin-left: 0px;
    text-align: start;
    margin-top: 8px;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    font-family: Redrose;

}
 
.a span:nth-child(1) {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-family: cursive;
}

.a span:nth-child(2) {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    font-family: Redrose;
}

.d {
    display: block;
    text-align: start;
    margin-top: 8px;

}

.d span img {
    width: 12px;
    height: 12px;
    color: #a02279;
}

.sec {
    display: flex;
    flex-direction: row;
    background-color: #a02279;
    margin-top: 40px;
    padding: 40px;
}

.sec div {
    flex-basis: 33%;
    flex-grow: 0;
    padding-left: 24px;
    padding-top: 151px;
    color: white;
}

.sec span {
    flex-basis: 50%;
    flex-grow: 1;
}

.sec h1 {
    font-size: 48px;
    line-height: 48px;
    font-family: Redrose;

}

.sec p {
    font-size: 18px;
    font-family: Redrose;
    line-height: 28px;
    text-align: left;
    margin-bottom: 32px;
}

button {
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    padding: 10px 32px;
    color: #a02279;
    font-size: 16px;
    line-height: 24px;
    font-family: Redrose;

}


footer {
    border: 1px solid #1d1d1d;
    color: white;
    background-color: #1d1d1d;
    margin: 0px;

}

footer li:nth-child(2) {
    margin-left: 265px;

}

footer li {
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-basis: 19%;
    text-align: start;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: Redrose;
}

.div {
    margin-left: 20px;
}





.flex4 {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    text-align: start;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: Redrose;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;

}

.flex4 div {
    width: 100%;

}

.child {
    margin-left: 430px;
}

.m {
    margin: 0 0 0 64px;
    color: #fff;
}

.m a {
    display: flex;
    color: white;
    text-decoration: none;
    flex-basis: 6%;
}

footer p {
    margin: 0 0 24px 64px;
    font-size: 12px;
    line-height: 16px;
    font-family: monospace;
    font-weight: 400;
}

.flex-container {
    display: flex;
    /* border: 1px solid red;*/
    flex-direction: row;
}

.flexc {
    flex-basis: 50%;
}

.flexm {
    display: inline-flex;
    flex-direction: row;
}

.flexa1 {
    flex-direction: column;
    /*border: 1px solid red;*/
    flex-basis: 25%;
    margin-top: 115px;
    padding: 10px;
    padding-right: 5px;
    padding-left: 3px;
}

.flexb1 {
    flex-direction: column;
    /*border: 1px solid red;*/
    flex-basis: 25%;
    padding: 10px;
    padding-left: 5px;
    margin-right: 180px;
}

body {
    overflow-x: hidden;
}

.footer {
    padding-bottom: 2rem;
    margin-top: -2rem;

}

.flex {
    display: flex;
}

.me {
    margin-right: 1rem;
}



/* RESPONSIVE SECTION for mobile screen sizes */



@media only screen and (min-width:640px) and (max-width:767px) {

    /* Adjust Screen up to a maximum width of 768px */
  

.menu a {
    font-size: 1.2rem;
    line-height: 1.25rem;
    margin-left: -20px;
    color: #fff;    
}



#check:checked ~ .menu{
    max-height: 900%;
    max-width: 40%;
  
}

#check:checked ~ .open-menu {
    display: none;
}

#check:not(:checked) ~ .close-menu {
    display: none;
}
.menu{
    
    background-color: #a02279;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    top: 15%;
    left:5%;
    z-index: 0;
    max-height:0 ;
    max-width: 0;
    transition:  2s ease-in-out; 
    overflow: hidden;
 
}
.col1{
    
    margin-left: 0;
    padding-top: 2rem;
    z-index: 0;
}
.col2{
    margin-left: -0.8rem;
    padding-bottom:5rem;
}

.open-menu,
.close-menu {
    display: block;
    cursor: pointer;
    top: 1.5rem;
    /* Adjust the top position as needed */
    left: 3rem;
    /* Adjust the right position as needed */
    position: absolute;
}
.close-menu{
     
    position: absolute;
    left: 40%;
    padding-top: 1.5rem;
   }

 

    form {
        margin-right: 7rem;

    }


    .nav-bar {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        margin-left: 1.3rem;
        margin-top: 0.5rem;
        padding-right: 5rem;
        position: relative;
    }

    .row2 {
        font-size: 2.5rem;
        font-family: Redrose;
        line-height: 2.5rem;
        margin-top: 2rem;

    }

    .row2,
    .bss {
        font-size: 2.5rem;
        /* Adjust the font size for smaller screens */
        margin-bottom: 10px;
        /* Add some space between elements */
        max-width: 100%;
        /* Make the text cover the full width */
    
       
    }

    form>label {

        flex-basis: 6.25rem;
        height: 1.75rem;

    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        /* Allow items to wrap to the next line */
        justify-content: space-between;
        /* Adjust alignment based on your design */
        
    }

    .col3 {
        flex-basis: calc(96.666% - 20px);
        /* Adjust the width of col3 as needed */
    }

    .flexm {
        flex-basis: 100%;
        /* Full width for the image container */
        justify-content: center;
        position: relative;
        left: 10%;
        z-index: -1;
    }


    .colo {
        color: #a02279;
        display: inline

    }

    .colo1 {
        display: inline-block;
    }



    #head {
        font-size: 30px;
        line-height: 36px;
    }


    .grid3>div {
        width: 35%;
    }

    .grid3>div>img {
        width: 100%;
    }

    .sec h1 {
        font-size: 3rem;
        line-height: 3rem;

        padding-top: 0;

    }

    .sec p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 500;
    }




    .sec span img {
        width: 80%;
        height: 600px;
        padding-left: 40px;

    }

    .sec {
        align-items: flex-end;
        justify-content: center;
        padding-top: 0;
        padding-bottom: 5rem;
    }

    button {

        font-size: 16px;
        line-height: 18px;


    }

    footer .flex1 {

        justify-content: space-between;
        align-items: first flex-start;


    }

    .child {
        margin-left: 300px;
    }

    .footer {
        padding-bottom: 1.5rem;

    }

    .flex {
        display: flex;
    }


}


/*
    li a,
    span a {
        font-size: 1.2rem;
        line-height: 1.25rem;
        margin-left: -20px;
        padding-top: 40px;
        color: #fff;
       
    }
    .col1, .col2{
        margin-left: 0;
        padding-bottom: 40px;
        padding-top: -20px;
    }
    .col1{
        margin-top: 5%;
    }
    
    
    
    .menu{
        margin: 18px;
        background-color: #a02279;
        flex-direction: column;
        justify-content: space-evenly;
        max-height: 0;
        transition:  1s ease-in-out;
        z-index: 0;
        width: 0;
        position: absolute;
        left: 0%;
        text-align: justify;
        overflow: hidden;
        
    }
    
    .open-menu,
    .close-menu {
        display: block;
        cursor: pointer;
        position: relative;
        left: -84%;
        margin-top: 11%; 
         z-index: 100;
    }
    .close-menu{
        left: -5%;
        margin-top: 15%;
    }

    #check:checked ~ .menu{
        max-height: 100%;
        width: 85%;
    }

    #check:checked ~ .open-menu {
        display: none;
    }
    
    #check:not(:checked) ~ .close-menu {
        display: none;
    }
        
    body{
       overflow-x: hidden;
    }
   
   
    .bss {
        font-size: 18px;
        font-family: sans-serif;
        line-height: 24px;
        color:rgb(0, 0, 0);
        margin-left: 30px;
        margin-top: 30%;
        margin-right: 10%;
        font-weight: 400;
    }
    .bss1{
        margin-left: 0px;
        font-size: 18px;
        font-family: sans-serif;
        line-height: 24px;
        
        
    }

    span>a {
        height: 15px;

    }

    .grid3 {
        grid-template-columns: auto;
        margin-right: 10px;
    }

    


    #head {
        font-size: 24px;
        line-height: 32px;
    }

   

    .sec h1 {
        margin-top: -140px;
    }

    .child {
        margin-left: 64px;
    }

    footer li:nth-child(2) {
        margin-left: -290px;
    }

    footer li {
        margin-top: 80px;
        flex-basis: 50%;
    }

    .flex4 {
        flex-basis: 100%;
    }

    .m a {
        margin-top: -165px;
        flex-basis: 30%;
        margin-left: -30px;
    }
   

    .flex2 {

        flex-direction: column;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
    }

    
    .me{
        margin-right: -20px;
        
        
       
        
    }
    .flexb1 {
        padding-top: 20px;
    }

   

    input{
        margin-left: 30px;
    }
    form>label {
        margin-right: 20%;
    }
    
  .flex1 .nav2 img{
    width: 103px;
    height: 20px;
  }
   
  
  
  #head {
    font-size: 24px;
    line-height: 32px;
    
}
.
        .sec span img{
            width: 200px;
            margin-left: 35px;
           
        }
        .sec div h1,button{
            margin-left: 35px;
        }
        .sec div p{
            margin-left: 35px;
            margin-right: 35px;
        }
       
            
        
        footer li{
            margin-bottom: -30px;
            
        
        }
        .child {
            margin-left: 30px;
        }
       
        } */

       

@media only screen and (min-width:450px) and (max-width:639px) {


.menu a {
    font-size: 1.2rem;
    line-height: 1.25rem;
    margin-left: -20px;
    color: #fff;    
}



#check:checked ~ .menu{
    max-height: 900%;
    max-width: 84%;
  
}

#check:checked ~ .open-menu {
    display: none;
}

#check:not(:checked) ~ .close-menu {
    display: none;
}
.menu{
    
    background-color: #a02279;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    top: 15%;
    left:5%;
    z-index: 0;
    max-height:0 ;
    max-width: 0;
    transition:  2s ease-in-out; 
    overflow: hidden;
 
}
.col1{
    
    margin-left: 0;
    padding-top: 2rem;
    z-index: 0;
}
.col2{
    margin-left: -0.8rem;
    padding-bottom:5rem;
}
    .nav-bar img{
        width: 150px;
    }
    


    .open-menu,
    .close-menu {
        display: block;
        top: 2.15rem;
        /* Adjust the top position as needed */
        left: 3rem;
        /* Adjust the right position as needed */
        position: absolute;
        z-index: 100;
        cursor: pointer;
    }
    .close-menu{
     
        position: absolute;
        left: 80%;
        padding-top: 1.5rem;
       }

    form {
        margin-right: 7rem;

    }

    .nav2 {
        width: 100%;
    }

    .nav2 img {
        width: 90%;
    }

    #head {
        font-size: 25px;
        line-height: 36px;
    }


    .nav-bar {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        margin-left: 1.3rem;
        margin-top: 0.5rem;
        padding-right: 5rem;
        position: relative;
    }

    .row2 {
        font-size: 2.3rem;
        font-family: Redrose;
        line-height: 2.5rem;
        margin-top: 1rem;
        padding-bottom: 1rem;
        
    }

    .row2,
    .bss {
        font-size: 2.1rem;
        /* Adjust the font size for smaller screens */
        margin-bottom: 10px;
        /* Add some space between elements */
        max-width: 100%;
        /* Make the text cover the full width */
       
       
    }
   

    form>label {

        flex-basis: 6.25rem;
        height: 1.75rem;

    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        /* Allow items to wrap to the next line */
        justify-content: space-between;
        /* Adjust alignment based on your design */
    }

    .col3 {
        flex-basis: calc(96.666% - 20px);
        /* Adjust the width of col3 as needed */
    }

    .flexm {
        flex-basis: 100%;
        /* Full width for the image container */
    }




    .colo {
        color: #a02279;
        display: inline;

    }

    .colo1 {
        display: inline;
    }


    .flexa1 div,
    .flexb1 div {
        width: 200%;
    }

    .flexa1 div img,
    .flexb1 div img {
        width: 80%;
        height: 150px;

    }

    .flexm {
        order: 2;
        /* Change the order to make it appear below the form */

        /* Add some space between the form and images */
        justify-content: space-evenly;
        position: relative;
        left: 10%;
        z-index: -1;
        margin-top: -1.5rem;


    }

    .flexb1 {
        margin-left: 4rem;
    }


    .grid3>div {
        width: 85%;
        height: auto;
    }

    .grid3>div>img {
        width: 100%;
    }

    .sec {
        display: flex;
        flex-direction: column-reverse;

    }

    .sec span img {
        width: 80%;
        margin: 2rem;
        margin-bottom: -11rem;
    }

    .sec p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 700;
    }

    .sec h1 {
        margin-bottom: 0rem;
    }

    button {
        font-size: 16px;
        line-height: 18px;
    }


    .child {
        margin-left: 4rem;
    }

    .footer {

        padding-top: 3rem;
        padding-bottom: 0.5rem;
    }

    footer .flex1 {
        gap: 3rem;
        flex-wrap: wrap;
    }

    .me {
        margin-left: 4rem;
        margin-top: -2rem;
    }

    .m {
        position: relative;
        top: -25rem;

    }

    .flex {
        justify-content: space-between;
        width: 30%;
    }

    .div {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }


}







@media only screen and (min-width:768px) and (max-width:1023px) {

    .menu {
        animation-name: metaAnimation;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;
        background-color: #fff;
    }
    
    @keyframes metaAnimation {
        0% {
            background-color: #a02279;
           
        }
        50% {
            background-color: #a02279;
            opacity: 0.05;
        }
        75%{
            background-color: #a02279;
            opacity: 0;
        }
        100% {
            background-color:#fff;
           
    
        }
    }

    .row2 {
        font-size: 3.5rem;
        font-family: Redrose;
        line-height: 2.5rem;
        margin-top: 2rem;
        
    }
 
    .row2,
    .bss {
        
        /* Adjust the font size for smaller screens */
        margin-bottom: 40px;
        /* Add some space between elements */
        max-width: 100%;
        /* Make the text cover the full width */
        margin-right: 2rem;

    }
    .bss1{
        font-size: 1.15rem;
    }
    .colo {
        color: #a02279;
        display: inline-block;

    }

    .colo1 {
        display: inline;
    }



    .flex-container {
        display: flex;
        flex-wrap: wrap;
        /* Allow items to wrap to the next line */
        justify-content: space-between;
        /* Adjust alignment based on your design */
    }


    .col3 {
        flex-basis: calc(96.666% - 30px);
        /* Adjust the width of col3 as needed */
    }

    .flexm {
        flex-basis: 100%;
        /* Full width for the image container */
        justify-content: center;
        position: relative;
        left: 10%;
    }
    .grid3{
        justify-content: flex-start;
        margin-left: 4rem;
    }

    .grid3>div {
        width: 28%;
    }

    .grid3>div>img {
        width: 100%;
    }
    .nav-bar {
        display: flex;
        margin-top:1rem;
        padding-left: 4.375rem;
        padding-right: 0;
        padding-right: 0; 
    }

    
    .menu a {
        text-decoration: none;
        color: #000;
        font-family: RedRose;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 700;
        margin-left: 1rem;
        padding-right: 0rem;
        padding-left: 0rem;
       
       
      
       
    }
    
    li a:hover {
        color: rgb(160, 34, 121);
        text-decoration: underline;
    }
    
    .nav-bar .menu {
        display: flex;
        gap: 0.5rem;
        width: 80%;
       
    }
  .col1{
    margin-left: -3rem;
  }
  

    
    .col2 a {
        border: 1px solid #a02279;
        background-color: #a02279;
        height: 20px;
        border-radius: 0.3rem;
        color: #fff;
        padding: 0.1rem;
        font-size: 0.8rem;
        margin-left: 3rem;
        
        
    }
   .row2 span:last-child {
        margin-bottom: 0;
        margin-top: 2rem; /* Add spacing above the last span */
    }
    .sec span img {
        width: 95%;
        height: 600px;
        padding-left: 40px;

    }

    .sec {
        align-items: flex-end;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 5rem;
    }
 
}

@media only screen and (min-width:1024px)and (max-width:1112px) {
    .nav-bar .menu{
        gap: 1rem;
        width: 80%;

    }
    .nav-bar{
        padding-right: 0;
        padding-top: 2rem;
    }
    .col2 a {
        border: 1px solid #a02279;
        background-color: #a02279;
        height: 20px;
        border-radius: 0.5rem;
        color: #fff;
        padding: 0.5rem;
        font-size: 1rem;
        margin-left: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;   
    }
    .flexb1{
       margin-right: 3.8rem;
    }
    .colo1{
        display: inline;
    }
    .row2{
        margin-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width:449px){
    
    .nav-bar img{
        width: 150px;
    }
    .open-menu,
    .close-menu {
        display: block;
        top: 2.15rem;
        /* Adjust the top position as needed */
        left: 3rem;
        /* Adjust the right position as needed */
        position: absolute;
        z-index: 100;
        cursor: pointer;
    }
    .nav-bar {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        margin-left: 1.3rem;
        margin-top: 0.5rem;
        padding-right: 5rem;
        position: relative;
    }
    body{
        margin-left: -1rem;
    }
    .row2 {
        font-size: 2.3rem;
        font-family: Redrose;
        line-height: 2.5rem;
        margin-top: -1rem;
        padding-bottom: 1rem;
        
    }

    .row2,
    .bss {
        font-size: 2.2rem;
        /* Adjust the font size for smaller screens */
        margin-bottom: 10px;
        /* Add some space between elements */
        max-width: 100%;
        /* Make the text cover the full width */
    }
    .bss1{
        color: black;
        font-size: 1.15rem;
        line-height: 1rem;
        font-weight: 500;
        text-align: justify;
    }
    .bss{
        padding-bottom: 0.5rem;
    }
    
       
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        /* Allow items to wrap to the next line */
        justify-content: space-between;
        /* Adjust alignment based on your design */
    }

    .col3 {
        flex-basis: calc(97.666% - 20px);
        /* Adjust the width of col3 as needed */
    }

    .flexm {
        flex-basis: 100%;
        /* Full width for the image container */
    }

    .colo {
        color: #a02279;
        display: inline;

    }

    .colo1 {
        display: inline;
    }
    


    .flexa1 div,
    .flexb1 div {
        width: 107%;
    
    }

    .flexa1 div img,
    .flexb1 div img {
        width: 100%;
        height: 150px;

    }
    .flexm {
        order: 2;
        /* Change the order to make it appear below the form */

        /* Add some space between the form and images */
        justify-content: space-evenly;
        position: relative;
        left: 16%;
        gap: -2rem;
        z-index: -1;
    }
    .flexa1{
        margin-left: 2rem;
    }
    .nav2 {
        width: 100%;
        padding-left: 2rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }

    .nav2 img {
        width: 80%;
    }

    #head {
        font-size: 25px;
        line-height: 36px;
    }
  .grid3{
    padding-left: 1.5rem
  }

    .grid3>div {
        width: 70%;
        height: auto;
       
    }

    .grid3>div>img {
        width: 100%;
    }

  
    .sec {
        display: flex;
        flex-direction: column-reverse;

    }

    .sec span img {
        width: 100%;
        margin: 0.5rem;
        margin-bottom: -11rem;
        padding-top: 2rem;
    }

    .sec p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 700;
    }

    .sec h1 {
        margin-bottom: 0rem;
    }

    button {
        font-size: 16px;
        line-height: 18px;
    }


    .child {
        margin-left: 4rem;
    }
    .footer {

        padding-top: 3rem;
        padding-bottom: 0.5rem;
    }

    footer .flex1 {
        gap: 3rem;
        flex-wrap: wrap;
    }

    .me {
        margin-left: 4rem;
        margin-top: -2rem;
    }

    .m {
        position: relative;
        top: -25rem;

    }

    .flex {
        justify-content: space-between;
        width: 25%;
    }

    .div {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    .menu a {
        font-size: 1.2rem;
        line-height: 1.25rem;
        margin-left: -20px;
        color: #fff;
       
       
    }
  
    .close-menu{
     
        position: absolute;
        left: 75%;
        padding-top: 1.5rem;
       }
   
    #check:checked ~ .menu{
        max-height: 900%;
        max-width: 80%;
      
    }

    #check:checked ~ .open-menu {
        display: none;
    }
    
    #check:not(:checked) ~ .close-menu {
        display: none;
    }
    .menu{
        
        background-color: #a02279;
        flex-direction: column;
        position: absolute;
        justify-content: space-between;
        top: 15%;
        left:8%;
        z-index: 0;
        max-height:0 ;
        max-width: 0;
        transition:  2s ease-in-out; 
        overflow: hidden;
        
       
    }
    .col1{
        
        margin-left: 0;
        padding-top: 2rem;
        z-index: 0;
    }
    .col2{
        margin-left: -0.8rem;
        padding-bottom:5rem;
    }
    /*
   
    .menu{
        margin: 18px;
        background-color: #a02279;
        flex-direction: column;
        justify-content: space-evenly;
        max-height: 0;
        transition:  1s ease-in-out;
        z-index: 0;
        width: 0;
        position: absolute;
        left: 0%;
        text-align: justify;
        overflow: hidden;
        
    } */
    

}


